---
import { getImage, Image } from 'astro:assets';
import { SteamWebAPI, type SteamWebAPIPlayerOwnedGame } from '@/lib/steam/SteamWebAPI';
import PortraitPlaceholder from "@/assets/images/portrait-placeholder.png";
import { AwardIcon } from "@lucide/astro/icons";
import { steam } from '@/actions/steam';

type Props = {
	game: SteamWebAPIPlayerOwnedGame
}

const { game } = Astro.props;

const portraitPlaceholder = await getImage({src: PortraitPlaceholder, format: "webp"});

const { data: achievementData, error } = await Astro.callAction(steam.getAchievements, { appid: game.appid });

if (error) {
	return Astro.redirect("/500?error=ACTION_ERROR");
}
---

<div class="game-card cflex">
	<a href={`/steam/${game.appid}`}>
		<Image
			src={SteamWebAPI.getGameImage(game.appid, "portrait")}
			alt={`Game portrait header for ${game.name}.`}
			loading="lazy"
			width="600"
			height="900"
			onerror={`this.src="${portraitPlaceholder.src}";`}
		/>
	</a>
	<h2>
		<a href={`/steam/${game.appid}`}>{game.name}</a>
		{ achievementData.complete && (
			<span class="badge cflex" title="All achievements">
				<AwardIcon />
			</span>
		)}
	</h2>
</div>

<style>
	.game-card {
		display: flex;
		position: relative;
		max-width: 256px;
		gap: var(--size-s);
		height: fit-content;
	}

	h2 {
		margin: 0;
		font-weight: 500;
	}

	h2 a {
		color: var(--text);
	}

	img {
		max-width: 100%;
		height: auto;
	}

	.badge {
		display: inline-flex;
		vertical-align: text-bottom;
		margin-bottom: 2.5px;
	}

	.badge svg {
		stroke: var(--warning);
	}
</style>
